.container {
    justify-items:center ;
    width: auto;
    height: auto;
}

#select {
    height: 55px;
    width: 95px;
    border-radius: 10px;
    margin: 10px;
}

#input {
    height: 51px;
    width: 135px;
    border-radius: 10px;
    margin: 10px;
}

#button {
    height: 55px;
    width: 95px; 
    border-radius: 10px;
    background-color:cadetblue;
    margin: 10px;
}